body{
    background-color: black;
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808B96;
    padding: 8px 10px;
}

h1.pageTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.mainPage{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-weight: 700px;
    font-size:xx-large;
    color: white;
    padding: 8px 10px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    margin: 8px 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ABB2B9;
    color: white;
}

.mainPage{
    display: flex;
    justify-content: flex-start;
    font-weight: 600px;
}