body {
    background-color: black;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808B96;
    padding: 8px 10px;
}

h1.applicant {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white;
}

.navbar {
    display: flex;
}

.navbar a {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    margin: 8px 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ABB2B9;
}

.mainPage {
    display: flex;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: xx-large;
    color:white;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.mainPageContent {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    padding: 10px 200px;
    
}

.imageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
