<<<<<<< HEAD
body {
    background-color: #008ECA;
    margin: 0;
=======
body{
    background-color: black;
    margin: 0px;
>>>>>>> dcce51c616e8bcf3999af219f0a196709bb0b994
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0066B0;
    padding: 8px 10px;
}

h1.titlePage2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.navbar {
    display: flex;
}

.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    margin: 8px 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ABB2B9;
    color: white;
}

<<<<<<< HEAD
.introPortfolio{
    display: flex;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 800px;
    color: white;
}

.imagePortfolioNumber1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.imagePortfolioNumber1 img {
    max-height: 100%;
    width: auto;
    animation: slideInRightToLeft 1s ease-in-out forwards;
}

@keyframes slideInRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.imagePortfolioNumber2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.imagePortfolioNumber2 img {
    max-height: 100%;
    width: auto;
    animation: slideInLeftToRight 1s ease-in-out forwards;
}

@keyframes slideInLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

=======
.mainPage{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

h1{
    color: white;
}
>>>>>>> dcce51c616e8bcf3999af219f0a196709bb0b994
